* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;

    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    scroll-snap-align: center;
}

section h1 {
    margin: 130px;
    font-size: 4rem;
}

section p {
    margin: -100px;
    font-size: 1.5 rem;
}

section#home {
    background: url('https://images.pexels.com/photos/3815760/pexels-photo-3815760.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center/cover;;
}

section#calendar {
    background: url('https://images.pexels.com/photos/2387819/pexels-photo-2387819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat left center/cover;;
}

section#notices {
    background: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat left center/cover;;
}

section#assignment {
    background: url('https://images.pexels.com/photos/785429/pexels-photo-785429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat left center/cover;;
}

section#notes {
    background: url('https://images.pexels.com/photos/2294880/pexels-photo-2294880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat left center/cover;;
}

